/* footer styles */

.footer {
  bottom: 0;
  max-width: 1440px;
  height: 400px;
  text-align: center;
}

.footer-top {
  bottom: 500px;
}

.footer-links {
  bottom: 118px;
  height: 400px;
  background: #0f2839;
}

.footer-bottom {
  bottom: 0;
  height: 118px;
  background: #f2f0eb;
}
