/* header styles */

.logo {
  height: 120px;

  .logo-image {
    height: 77px;
    width: 223px;
    left: 3px;
    top: 24px;
    border-radius: 0px;
  }
}

.banner {
  position: absolute;
  max-width: 1440px;
  height: 305.73px;
  top: 164.32px;
  z-index: 10;

  background: radial-gradient(
      86.35% 50% at 50.09% 50%,
      rgba(34, 190, 202, 0.2) 0%,
      rgba(51, 240, 255, 0.012) 100%
    ),
    #0f2839;
}

nav {
  width: 90%;
  margin: 30px auto;
  margin-top: 20px;
}
